<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sk-websocket-classroom-asker</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no">

    <script src="lib/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
      var socket = io.connect();
    </script>

    <script src="js/script.js"></script>
  </head>

  <body id="page-player">

    <div id="login-container">
      <div id="login">
        <label for="name">Votre nom</label>
        <input type="text" id="name" name="pseudo">
        <div class="button button-small" data-close-login>C'est parti ! ▶</div>
      </div>
    </div>

    <div class="group-scrollable-container">
      <div class="group"></div>
    </div>

    <div style="display:none" id="clones">
      <div class="field" data-field-type="button">
        <div class="field-value"></div>
      </div>
    </div>

  </body>
</html>
